<div class="user-details">
  <h1> Components </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Server </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>The server stores all the game logic. It uses socket.io to accept player connections.
      Player can submit actions to the server through the socket connection.
      The server takes steps at a fixed interval, on each step the server processes player actions,
      resolves any conflicts, and sends back the updated game state.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Agent </h3>
    <p>The agent can be any program or person playing the game. We provide examples in Python
      for agents that are rule based, and for agents using Reinforcement Learning.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Viewer </h3>
    <p>The viewer can be used to see what a particular player sees, render a part of the map,
      or even render the entire map. This is useful for observing how agents are behaving.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>